body{
    background-color: rgb(253 252 252);
}
#shopIcon{
    font-size: 27px;
    margin-right: 9px;
}
.fa-shopping-cart{
    position: relative;
}
#badgeForShopping{
    font-size: 12px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    top: 14px;
}
#openColorDiv{
    display: flex;
    position: fixed;
    top: 250px;
    right: -30px;
}
#changeColor{
    width: 30px;
}

#navA{
    letter-spacing: 3px;
    font-weight: bold;
    padding-right: 57px;
    margin-left: -73px;
}
#changeColor .small{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#red {
    background-color: #dc3545;
}

#blue {
    background-color: #201c5e;
}
#navContainer{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #dc3545;
}
#navContainer .navbar-nav{
    justify-content: space-between;
    display: flex;
    width: 60%;
}
.navbar-nav li a:hover{
    font-weight: bold;
}
/* BodyPart */
#mainDiv{
    height: 500px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px black;
    position: relative;
    overflow: hidden;
}
.aboutText{
    line-height: 2;
    text-align: justify;
}
#textDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#backSide{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0.1;
}
#backSide p{
    font-size: 185px;
}
/* footer */
.footerPart{
    margin-top: 87px;
}
.footerPart .container-fluid {
    height: 500px;
    display: flex;
    justify-content: center;
}

#footterBg {
    background-color: #dc3545;
}
#footerLeft {
    width: 50%;
    color: white;
}

#footerRight {
    width: 50%;
    color: white;
}

.socialMedTit {
    margin-top: 60px;
}

.paymentMTit {
    margin-top: 30px;
    text-align: center;
}

#numberTag a{
    color: white;
}
#numberTag a:hover{
    color: black !important;
}
#numberTag:hover{
    color: black !important;
}
.fas{
    font-size: 25px;
}

.socialMeas {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.socialMeas img:hover{
    width: 42px;
    height: 42px;
    transition: 0.5;
}